 /* RESET */

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, cite, code, em, img, small, strong, 
b, u, i, ol, ul, li, p,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, 
menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	font-family: helvetica;
	box-sizing: border-box;
	vertical-align: top;
}

html {
	font-size: 16px
}

figcaption {
	font-style: italic;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

main, img{
	display: block;
}

.button, a, a:focus {
	outline:none;
}

/* img {
    max-width: 100%;
    height: auto;
} */

li {
	list-style: none;
}






/* ICONOS */


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sd0v25');
  src:  url('../fonts/icomoon.eot?sd0v25#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sd0v25') format('truetype'),
    url('../fonts/icomoon.woff?sd0v25') format('woff'),
    url('../fonts/icomoon.svg?sd0v25#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e5d2";
  font-size: 2rem;
  color: white;
  cursor: pointer;

}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}




/* HEADER */


.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	/* height: 5rem; */
	padding: .5rem;
}

.Header-check {
	display: none;
}

.Header-check:checked~.Header-menu {
	/* height: 50%; */
	transition: .4s;
	opacity: .9;
}

.Header-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/* flex-wrap: wrap; */

	position: absolute;
	left: 0px;
	top: 4rem;
	overflow: hidden;
	
	background: black;
	opacity: 0;
	font-family: arial;
	font-size: 1.3rem;
	height: 40%;
	width: 100vw;		
	transition: .4s;
	z-index: 2
}

.Header-menu span {
	position: absolute;
	bottom: .7rem;
	right: 1rem;
	cursor: pointer;
	color: white;
	font-size: 1.5rem
}

.Header-menu a {
	color: white;
	text-decoration: none;
	font-weight: 200;
	padding: .5rem 7rem;
	
}

.Header-menu a:hover {
	/* color: grey; */
	/* text-decoration: underline; */
	background-color: #3b94d9;
	

}

/* HEADER-RESPONSIVE */

@media (min-width: 500px) {

	.Header-menu {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
		top: inherit;
		width: 400px;
		opacity: 1;
		margin-right: 2rem;
	}

	.Header-menu a{
		background-color: #404040;
		padding: .5rem;
	}

	/* .Header-menu a:hover{
		background-color: #404040;
		padding: .5rem;
	} */

	.Header-menu li{
		margin-left:  1rem;
	}

	.Header-nav label {
		display: none;
	}

}
















/* MAIN */


.MainIndex {
	color:  #666;
	/* width: 100%; */
	/* display: block; */
}

@media (min-width: 800px) {

	.MainIndex {
		width: 70%;
		display: inline-block;

		/* background-color: #fafafa; */
	}
}

.MainIndex section{
	box-shadow: 0 8px 6px -6px grey;
	/* padding-bottom:  5rem; */
}





/* SLIDER */

.Slides {
	display: none;
	padding: .5rem;
}

.Slides-container {
  position: relative;
}

.Slides-prev, .Slides-next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.2)
}

.Slides-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.Slides-prev:hover, .Slides-next:hover {
  background-color: rgba(0,0,0,0.5);
}

.Slides-description {
  color: #f2f2f2;
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: center;
  background-color: rgba(0,0,0,0.4)
}

.Slides-pagination {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.4);
}

.Slides-dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.Slides-active, .Slides-dot:hover {
  background-color: #717171;
}

.Slides-fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	overflow: hidden;
	height: 333px;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

.Slides-exampleHTML {
	height: auto;
	text-align: center;
	font-size: 4rem;
	padding-top: 3rem;
	width: 100%;
}

@media (min-width: 500px) {
	.Slides {
		display: block;
	}
}








/* ASIDE */

.AsideMain {
	width: 100%;
	display: block;
	/* border-left: 3px solid grey; */
	margin-top: .5rem;
}

/* ASIDE-RESPONSIVE */

@media (min-width: 800px) {
	.AsideMain {
		width: 29%;
		display: inline-block;
	}
}

/* DESCRIPTION */

.MainIndex-description {
	padding: 1rem 0;
	margin-top: 5px;
	margin-bottom: 5px;
	/* background-color: #f6f4ee; */
	background-color: #fafafa;

}

.MainIndex-description article {
	width: 80%;
	margin: 0 auto;
}

.MainIndex-description h1 {
	text-align: center;
	margin: 1.5rem 0 1.5rem 0;
	padding-bottom: .5rem;
	color: #333;
	border-bottom: 1px solid #e60000;

}

.MainIndex-description p {
	font-size: 1rem;
	text-align: center;
	color: #666;
}



@media (min-width: 500px) {

	.MainIndex-description {
		padding: 2.5rem 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.MainIndex-description article {
		width: 90%;
	}

	.MainIndex-description p {
		font-size: 1.2rem;
	}
}







/* FEATURES */

.MainIndex-features {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 2rem;
	padding-bottom: 5rem;
	text-align: center;
	margin-bottom: .4rem;
	background-color: white;
	/* padding:  2rem; */
}

/* .MainIndex-features [class^="icon-"] {
	border-bottom: 2px solid black
} */

.MainIndex-features article {
	width: 60%;
	margin: 2rem auto;
}

.MainIndex-features p {
	border-top: 1px solid #999;
	padding-top: 1.5rem;
	margin-top: 1.5rem;
	font-size: 1.2rem;
	/* vertical-align: baseline; */
	/* padding-bottom: 4rem;	 */
	/* margin-bottom: 4rem */
}

.icon-tap_and_play:before {
  content: "\e62b";
  font-size: 5rem;
  color: orange;
}
.icon-verified_user:before {
  content: "\e8e8";
  font-size: 5rem;
  color: purple;
}
.icon-wifi_tethering:before {
  content: "\e1e2";
  font-size: 5rem;
  color: green;
}

@media (min-width: 500px) {
	.MainIndex-features article {
		width: 50%
}
}

@media (min-width: 600px) {
	.MainIndex-features {
		flex-direction: row;
}
	.MainIndex-features article {
		width: 25%
}
	.MainIndex-features p {
		font-size: 1rem
}
}

@media (min-width: 800px) {
	.MainIndex-features {
		flex-direction: row;

}
}






/* ARTICLES */

.MainIndex-articles {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 3rem .5rem 4rem .5rem;
	/* margin-top: 5rem; */
	margin: 0 auto;

	/* margin-bottom: 5rem; */
	/* padding-bottom: 5rem; */
	background-color: #fafafa;
	box-shadow: 0 0 !important;
	/* border-bottom: 1px solid grey; */
	/* width: 90%; */

}

.MainIndex-articles img{
	max-width: 100%;
}

.MainIndex-articles article{
	width: 280px;
	/* width: 280px; */
	/* height: 320px; */
	position: relative;
	text-align:center;
	transition: .9s ease;
	margin: 0 auto;
	box-shadow: 0 8px 6px -6px grey;
	margin-bottom:  3rem;
}

.MainIndex-articles article:hover .MainIndex-layerHover{
	background-color: rgba(256,256,256,0.9);
	transition: .5s ease;
}
.MainIndex-articles article:hover .MainIndex-contentHover{
	opacity: 1;
	transition: 1.5s ease;
	margin-top: 2rem;
}

.MainIndex-articles figure{
	position: relative;
	transition: .9s ease;
}

.MainIndex-articles .MainIndex-layerHover{
	width: 100%;
	position: absolute;
	background-color: rgba(256,256,256,0);
	/* opacity: 0; */
	z-index: 4;
	height: 100%;
	transition: .5s ease;

}



/* .MainIndex-articles .leyend:hover{
	background-color: rgba(0,0,0,0.2);
} */

.MainIndex-contentHover{
	top: 5%;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	
	/* position:absolute; */
	opacity: 0;
	z-index: 3;
	transition: 1.5s ease;
}

.MainIndex-contentHover p {
	font-size: 1.2rem;
}

.MainIndex-articles .button{
	background-color: green;
	border:  0;
	bottom: 5%;
	color: white;
	font-size: 1.2rem;
	padding: .4rem 0;
	position: absolute;
	right: 25%;
	text-decoration: none;
	width: 50%;
}

/* .MainIndex-articles .content-leyend:hover{
	opacity: 0;
} */

.MainIndex-articles h2{
	top: 5%;
	width: 80%;
	margin-left: 10%; 
	position:absolute;
	color: white;
	padding: .5rem;
	background-color: rgba(0,0,0,0.5)

}

@media (min-width: 500px) {
	.MainIndex-articles article{
		width: 50%;
	}
}

@media (min-width: 700px) {
	.MainIndex-articles {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.MainIndex-articles article{
		width: 30%;
	}
	.MainIndex-articles p{
		font-size: 1rem;
	}
}
@media (min-width: 800px) {
	.MainIndex-articles {
		flex-direction: column;
	}
	.MainIndex-articles article{
		width: 50%;
}

}

@media (min-width: 900px) {
	.MainIndex-articles {
		flex-direction: row;
	}
	.MainIndex-articles article{
		width: 30%;
}

}

/* FOOTER */

.Footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
	background-color: black;
	color: #999;
	padding: 1.5rem .5rem;
}

/* .Footer nav {
	width: 20%;
} */

.Footer section {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;

}


.Footer a {
	color: #999;
}

.Footer span {
	margin-right: 1rem;
	color: white;
}

.Footer-social {
	font-size: 2rem;

}

.Footer ul {
	max-height: 8rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.Footer li {
	margin-right: .5rem;
	margin-bottom: .5rem;
	font-weight: 200;
}

.Footer-copy {
	text-align: left !important;
	order: 3;
	/* background-color: grey; */
}

.Footer h4 {
	margin-bottom: .5rem;
	margin-right: 0
}

@media (min-width: 800px) {
	.Footer {
		flex-direction: row;
	}
	.Footer section {
		width: 33%;
	}
	.Footer-copy {
		order: 1;
		
	}
	.Footer-nav {
		text-align: center;
		order: 2;
		
	}
	.Footer-social {
		text-align: right !important;
		order: 3;
	}
}

/* TABS */

/* Style the list */

/* .AsideMain-tabs {
	margin-top: .5rem;
} */

.AsideMain-tabs ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #a0e7ff;
}

/* Float the list items side by side */
.AsideMain-tabs li {display: inline-block;}

/* Style the links inside the list items */
.AsideMain-tabs li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
.AsideMain-tabs li a:hover {background-color: #00bdff;}

/* Create an active/current tablink class */
.AsideMain-tabs li a:focus, .active {
	background-color: #3b94d9;
	color: #f2f2f2 !important;
}

/* Style the tab content */
.AsideMain-tabcontent {
    /* display: none; */
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* .AsideMain-tabcontent:nth-child(2) {
    display: block;
} */

.AsideMain-tabcontent ul {
	background-color: white;
	border: 0;

}

.AsideMain-tabcontent li {
	display: block;
	text-decoration: underline;
	/* clear: both; */
	margin: .5rem;
	
}


/* ACCORDION */

.AsideMain-accordion {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid black
}

.AsideMain-accordion h2{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: .5rem;
	margin-bottom: .5rem;
}

.AsideMain-accordion img {
	float: left;
	margin-right: .5rem;
}

.AsideMain-accordion p {
	margin-top: 1.5rem;
}

button.accordion {
    background-color: #fff;
    color: #00bdff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    /* border: 1px solid #00bdff; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #f2f2f2;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.activee, button.accordion:hover {
    background-color: #e8f4f9;
    color: #3b94d9;
}

button.accordion:after {
    content: '\002B';
    color: #00bdff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.activee:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* MODAL */

.Modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: .7s;
    animation-name: fadeIn;
    animation-duration: .7s
}

/* Modal Content */
.Modal-content {
    position: fixed;
    left: 0;
    right:0;
    /* opacity: .9; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: auto;
    top: 0;
    bottom: 0;
    height: 80%;
    background-color: rgba(254,254,254,0.9);

    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.Modal-close {
    color: grey;
    float: right;
    font-size: 3rem;
    font-weight: bold;
    margin-top: -3rem;
    margin-right: 1rem;
}

.Modal-close:hover,
.Modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.Modal-body {padding: 2px 16px;}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {opacity: 0} 
    to { opacity: 1}
}

@keyframes slideIn {
    from { opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

input, textarea {
	display: block;
	padding: .2rem .5rem;
	width: 80%;
	margin: .5rem auto;
	font-size: 1.1rem;
	border:  1px solid #3b94d9;
	font-style: italic;
	font-weight: 200;
	background-color: #f2f2f2;
}



form {
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-align: center;
}

textarea {
	height: 40vh;

}

#contact-submit {
	width: 20%;
	margin-top: 2rem;
	font-size: 1.1rem;
	background-color: #3b94d9;
	color:  white;
	border: 0;
	cursor: pointer;
}




/* PAGE */


.Article {
	width: 80%;
	margin: 2rem auto;
	box-shadow: 0 0 !important;
}

.Article h1{
	text-align: center;
	margin: 2rem auto;
}

.Article figure {
	text-align: center
}


.Article img{
	width: 50%;
	height: 50%;
	margin: 0 auto;
}

.Article p {
	margin-top: 2rem;
	padding-bottom: 8rem;
	border-bottom: 1px solid #3b94d9;
	margin-bottom: 5rem;


}



/*
MODAL
*/

/* 
RESET
*/

/*
ICONOS
*/

/* 
HEADER
*/

/*
HEADER-RESPONSIVE
*/

/*
MAIN
*/

/*
MAIN-RESPONSIVE
*/

/*
SLIDER
*/

/*
SLIDER-RESPONSIVE
*/

/*
ASIDE
*/

/*
ASIDE-RESPONSIVE
*/

/*
DESCRIPTION
*/

/*
FEATURES
*/

/*
ARTICLES
*/

/*
TABS
*/

/*
FOOTER
*/

/*
PAGE
*/
