/* RESET */

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, cite, code, em, img, small, strong, 
b, u, i, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, 
menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	font-family: helvetica;
	box-sizing: border-box;
	vertical-align: top;
}

html {
	font-size: 16px
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

main, img{
	display: block;
}

a:focus {
	outline:none;
}

/* img {
    max-width: 100%;
    height: auto;
} */

li {
	list-style: none;
}






/* ICONOS */


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?85d533');
  src:  url('../fonts/icomoon.eot?85d533#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?85d533') format('truetype'),
    url('../fonts/icomoon.woff?85d533') format('woff'),
    url('../fonts/icomoon.svg?85d533#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
}

.icon-menu:before {
  content: "\e5d2";
  font-size: 2rem;
  color: white;
}







/* HEADER */


.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	height: 4rem;
	padding: 0 .5rem;
}

.Header-check {
	display: none;
}

.Header-check:checked~.Header-menu {
	/* height: 50%; */
	transition: .4s;
	opacity: .7;
}

.Header-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/* flex-wrap: wrap; */

	position: absolute;
	left: 0px;
	top: 4rem;
	overflow: hidden;
	
	background: black;
	opacity: 0;
	font-family: arial;
	font-size: 1.3rem;
	height: 40%;
	width: 100vw;		
	transition: .4s;
	z-index: 2
}

.Header-menu span {
	position: absolute;
	bottom: .7rem;
	right: 1rem;
	cursor: pointer;
	color: white;
	font-size: 1.5rem
}

.Header-menu a {
	color: white;
	text-decoration: none;
}

.Header-menu a:hover {
	/* color: grey; */
	text-decoration: underline;
}

/* HEADER-RESPONSIVE */

@media (min-width: 500px) {

	.Header-menu {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
		top: inherit;
		width: 250px;
		opacity: 1;
	}

	.Header-menu li{
		margin-left:  1rem;
	}

	.Header-nav label {
		display: none;
	}

}
















/* MAIN */

@media (min-width: 800px) {

	.MainIndex {
		width: 70%;
		display: inline-block;
		background-color: #fafafa;
	}
}







/* SLIDER */

.Slides {
	display: none;
	padding: .5rem;
}

.Slides-container {
  position: relative;
}

.Slides-prev, .Slides-next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.2)
}

.Slides-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.Slides-prev:hover, .Slides-next:hover {
  background-color: rgba(0,0,0,0.5);
}

.Slides-description {
  color: #f2f2f2;
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: center;
  background-color: rgba(0,0,0,0.4)
}

.Slides-pagination {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.4);
}

.Slides-dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.Slides-active, .Slides-dot:hover {
  background-color: #717171;
}

.Slides-fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	overflow: hidden;
	height: 333px;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

.Slides-exampleHTML {
	height: auto;
	text-align: center;
	font-size: 4rem;
	padding-top: 3rem;
	width: 100%;
}

@media (min-width: 500px) {
	.Slides {
		display: block;
}







/* ASIDE */

.AsideMain {
	width: 100%;
	display: block;
}

/* ASIDE-RESPONSIVE */

@media (min-width: 800px) {
	.AsideMain {
		width: 29%;
		display: inline-block;
}

/* DESCRIPTION */

.MainIndex-description article {
	width: 80%;
	margin: 0 auto;
}

.MainIndex-description h1 {
	text-align: center;
	margin: 1.5rem 0 1.5rem 0;
	padding-bottom: .5rem;
	color: grey;
	border-bottom: 1px solid grey;

}

.MainIndex-description p {
	font-size: 1.2rem;
	text-align: center;
}

/* Features */

.MainIndex-features {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 2rem;
	background-color: white;
	padding:  2rem;
}

.MainIndex-features .icon-menu:before {
	color: green !important;
	font-size:  5rem;
}

.MainIndex-features article {
	width: 20%
}

/* 
RESET
*/

/*
ICONOS
*/

/* 
HEADER
*/

/*
HEADER-RESPONSIVE
*/

/*
MAIN
*/

/*
MAIN-RESPONSIVE
*/

/*
SLIDER
*/

/*
SLIDER-RESPONSIVE
*/

/*
ASIDE
*/

/*
ASIDE-RESPONSIVE
*/


